
#control-view {
    padding: 0.5em 0;
    color: white;
    display: table-row;
}

#control-view a {
    color: inherit;
    text-decoration: none;
}

#control-view a:hover {
    text-decoration: underline;
}

#control-view label,
#control-view input {
    vertical-align: middle;
}

#control-view button {
    height: 100%;
    border: none;
    background: transparent;
}

#control-play.running {
    color: rgb(100, 150, 255);
}

#control-view .group {
    padding: 0 1em;
    display: table-cell;
    vertical-align: middle;
}

#control-view .export,
#control-view .import {
    display: none;
}
