
#control-view {
    padding: 0.5em 0;
    color: white;
}

#control-view input {
    font-family: "Heydings Controls";
    height: 100%;
}

#control-play.running {
    color: rgb(100, 150, 255);
}

#control-view .group {
    margin: 0 1em;
}