
#control-view {
    padding: 0.5em 0;
    color: white;
}

#control-view a {
    color: inherit;
    text-decoration: none;
}

#control-view a:hover {
    text-decoration: underline;
}

#control-view input {
    height: 100%;
}

#control-play.running {
    color: rgb(100, 150, 255);
}

#control-view .group {
    margin: 0 1em;
}

#control-view .export,
#control-view .import {
    display: none;
}
