.automata-Diagram {
}

.automata-Diagram .state rect {
    fill: rgb(255, 230, 128);
    stroke: none;
}

.automata-Diagram .state.current rect {
    fill: rgb(255, 200, 0);
}

.automata-Diagram text {
    font-family: Arsenal, sans-serif;
    fill: black;
}
.automata-Diagram .state text {
    text-anchor: middle;
}

.automata-Diagram .state line,
.automata-Diagram .transition path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

.automata-Diagram .automata-bool-0 {
    text-decoration: overline;
    fill: blue;
}

.automata-Diagram .automata-bool-1 {
    fill: red;
}
