
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: large;
}

#control-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2em;
}

#table-view, #diagram-view, #world-view {
    position: absolute;
    top: 2em;
    width: 50%;
    height: calc(100% - 2em);
}

#table-view {
    left: 50%;
    overflow-x: hidden;
    overflow-y: auto;
}

#world-view {
    position: absolute;
    left: 0;
    height: calc(50% - 2em);
}

#diagram-view {
    visibility: hidden;
}
