
@import "../fonts/Arsenal/stylesheet.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body * {
    font-size: large;
    font-family: Arsenal, sans-serif;
}

#main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(64,64,64) 0px, rgb(32,32,32) 3em);
}

#control-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#games-menu, #table-view, #diagram-view, #world-view {
    position: absolute;
    top: 2.5em;
    background: white;
    border-radius: 0.5em;
    box-shadow: inset 0 1px 4px 0 rgb(128, 128, 128);
}

#table-view, #diagram-view, #world-view {
    width: calc(50% - 1em);
    height: calc(100% - 3em);
}

#table-view {
    overflow-x: hidden;
    overflow-y: auto;
}

#score-view, #help-view {
    position: absolute;
    left: 2em;
    top: calc(-100% + 5em - 5px); /* height - box shadow height */
    width: calc(100% - 4em);
    height: calc(100% - 5em);

    background:         linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 250, 240, 1) 5em);
    background:    -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 250, 240, 1) 5em);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 250, 240, 1) 5em);

    box-shadow: 0 1px 4px 0 rgb(128, 128, 128);

    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#help-view.visible, #score-view.visible {
    top: 0em;
}

.entering-left-pane, .leaving-left-pane {
    left: calc(-50% + 0.5em);
}

.left-pane {
    left: 0.5em;
}

.right-pane {
    left: calc(50% + 0.5em);
}

.entering-right-pane, .leaving-right-pane {
    left: calc(100% + 0.5em);
}

.hidden {
    visibility: hidden;
}

.left-pane, .right-pane, .leaving-left-pane, .leaving-right-pane {
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
