
#score-view > div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

#score-view:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#score-view button {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
}

#score-view .score-status {
    font-size: 300%;
}

#score-view .score-message {
    font-size: 200%;
}
