<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Automata</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="icon" type="image/png" href="icons/32.png" />

        <script src="vendor/jquery-2.0.3.min.js"></script>
        <script src="vendor/nunjucks-slim.min.js"></script>
        <script src="vendor/snap.svg-min.js"></script>

        <link rel="stylesheet" href="css/automata.core.min.css">
        <script src="js/automata.core.min.js"></script>

        <link rel="stylesheet" href="css/{{key}}.min.css">
        <script src="js/{{key}}.min.js"></script>

        <script>
            automata.main({{key}});
        </script>
    </head>
    <body>
        <div id="main">
            <div id="control-view">
                <!-- P: Play, S: Stop, u: Pause -->
                <span class="group">
                    <a class="icon" href="index.html">H</a>
                </span>
                <span class="group">
                    <input class="control" type="button" id="control-play" value="P" title="Play/Pause">
                    <input class="control" type="button" id="control-stop" value="S" title="Stop">
                    Speed: <input type="range" id="control-speed" value="20" min="0" max="10" step="1" title="Speed">
                </span>
                <span class="group">
                    <input class="control" type="button" id="control-left" value="<">
                    <input class="control" type="button" id="control-right" value=">">
                </span>
                <span class="group">
                    <input class="icon" type="button" id="control-help" value="l" title="Help">
                </span>
                <a class="export" download="{{key}}.json"></a>
                <input class="import" type="file">
            </div>
            <div id="world-view" class="left-pane"></div>
            <div id="table-view" class="right-pane"></div>
            <div id="diagram-view" class="hidden"></div>
            <div id="help-view">
                <div>
                    <h1>{{title}}</h1>
                    <div>{{content}}</div>
                </div>
                <input class="control" type="button" value="X" title="Close">
            </div>
            <div id="score-view"></div>
        </div>
    </body>
</html>