<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Automata</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">
        
        <link rel="icon" type="image/png" href="icons/32.png">
        <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
        <link rel="stylesheet" href="css/automata.core.min.css">

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="js/webapp.js"></script>
    </head>
    <body>
        <div id="main">
            <div id="control-view">
                <span class="group">Automata</span>
            </div>
            <div id="games-menu">
                {% for cat in categories %}
                    <h1>{{cat.title}}</h1>
                    
                    <ul>
                        {% for game in cat.games %}
                            <li><a href="{{game.key}}.html"><img src="icons/{{game.key}}.svg">{{game.title}}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
