<td class="remove-transition"><input type="button" value="-" title="Remove this transition"></td>
{% for value in transition.inputs %}
    <td class="transition-input"><input type="button" class="automata-bool" value="{{value}}"></td>
{% endfor %}
<td class="arrow">&rarr;</td>
{% for value in transition.outputs %}
    <td class="transition-output"><input type="button" class="automata-bool" value="{{value}}"></td>
{% endfor %}
<td class="target-state-name">
    <select>
        {% for targetState in model.states %}
            <option value="{{targetState.id}}"
                    {% if targetState.id == transition.targetState.id %} selected {% endif %}>
                {{targetState.name}}
            </option>
        {% endfor %}
        <option value="#NewState#">New state</option>
    </select>
</td>
