<table class="automata-TransitionTable">
    <tr>
        <th></th>
        <th>Source state</th>
        <th></th>
        {% for s in world.sensors %}
            <th title="{{s.desc}}">{{s.name}}</th>
        {% endfor %}
        <th>&rarr;</th>
        {% for a in world.actuators %}
            <th title="{{a.desc}}">{{a.name}}</th>
        {% endfor %}
        <th>Target state</th>
    </tr>
    <tr>
        <td class="create-state" colspan="{{world.sensors.length + world.actuators.length + 5}}">
            <button title="Create a state"><i class="fa fa-plus-circle"></i></button>
        </td>
    </tr>
</table>
