<table class="automata-TransitionTable">
    <tr>
        <th></th>
        <th>Source state</th>
        <th></th>
        {% for name in world.sensors %}
            <th>{{name}}</th>
        {% endfor %}
        <th>&rarr;</th>
        {% for name in world.actuators %}
            <th>{{name}}</th>
        {% endfor %}
        <th>Target state</th>
    </tr>
    <tr>
        <td class="create-state" colspan="{{world.sensors.length + world.actuators.length + 5}}">
            <input type="button" value="+" title="Create a state">
        </td>
    </tr>
</table>
