
#world-view {
    text-align: center;
}

#world-view button {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 30%;
}

#world-view .light {
    position: absolute;
    left: 25%;
    bottom: 5%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

#world-view .light.on {
    border: 1px solid rgb(255, 200, 0);
    background: rgb(255, 230, 128);
}

#world-view .light.off {
    background: rgb(220, 220, 220);
}

#world-view .actuator {
    position: absolute;
    left: 10%;
    bottom: 25%;
    width: 6em;
    text-align: left;
}

#world-view .counter {
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: calc(80% - 3em);
    height: 40%;

    border-radius: 1em;
    background: rgb(0, 10, 20);
    color: rgb(0, 255, 50);

    font-size: 200%;
}

/*
 * Trick for vertically centering elements:
 * http://css-tricks.com/centering-in-the-unknown/
 */

#world-view .light div,
#world-view .counter div {
    display: inline-block;
    vertical-align: middle;
}

#world-view .light:before,
#world-view .counter:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
